image: ruby:3.1

variables:
  JEKYLL_ENV: production
  BUNDLE_PATH: vendor/bundle

before_script:
  - apt-get update -y
  - gem install bundler
  - bundle install

pages:
  script:
    - bundle exec jekyll build -d public
  artifacts:
    paths:
      - public
  only:
    - main 