title: Caution
email: info@caution.co
description: The first open source platform for encrypted data recovery and escrow.
baseurl: ""
url: "https://caution.co"
banner: "https://caution.co/assets/base/caution-thumbnail.png"

header_pages:
  - index.md

style: dark
listen_for_clients_preferred_style: false

// theme: jekyll-theme-console //

permalink: blog/:title.html

plugins:
  - jekyll-feed
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
