<section class="mid-tall-section">
	{% unless include.hide_title == 'true' %}
		<div class="flex-container-inner">
			<div class="text-well center">
				<h4 class="carousel-title" >trusted by industry leaders</h4>
			</div>
		</div>
	{% endunless %}

	<div class="logo-section">
		<div class="logo-slider" id="logoSlider">
			<img src="assets/base/companies/coinbase-white.svg" alt="Coinbase">
			<img src="assets/base/companies/bitgo-logo-white.svg" alt="BitGo">
			<img style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);"
					 src="assets/base/companies/bishop-fox-dark.png" alt="Bishop Fox">
			<img style="filter: invert(100)" src="assets/base/companies/turnkey-black.svg" alt="Turnkey">
			<img style="height: 40px" src="assets/base/companies/falconx-white.svg" alt="FalconX">
			<img src="assets/base/companies/exodus-white.svg" alt="Exodus">
			<img src="assets/base/companies/sidero-labs-white.png" alt="Sidero Labs">
			<img src="assets/base/companies/zoom-white.png" alt="Zoom">
			<img src="assets/base/companies/mysten-labs-white.svg" alt="Mysten Labs">
			<img style="height: 60px; filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(200%) contrast(102%);"
					 src="assets/base/companies/ankr.png" alt="Ankr">
			<img style="height: 60px" src="assets/base/companies/hashicorp-white.png" alt="HashiCorp">
			<img style="filter: invert(100)" src="assets/base/companies/block-one-dark.svg" alt="Block One">
			<img src="assets/base/companies/ledn-white.svg" alt="Ledn">
			<img src="assets/base/companies/fitbit-white.png" alt="Fitbit">
			<img src="assets/base/companies/dfns-color.png" alt="Dfns">
		</div>
	</div>
</section>

