<footer>
	<div class="footer container">
		<div class="footer-top">
			<div class="footer-logo">
				<a href="/">
				<img src="/assets/base/caution-logo-triangle-black.svg" alt="Caution logo" />
				</a>
			</div>
			<p class="footer-description footer-description-desktop">
			Caution brings thoughtfully designed, open source systems to life — empowering resilient, secure technology for everyone.
			</p>
			<!--<p class="footer-description footer-description-mobile">
				Caution brings open source systems to life — built for resilience and digital security.
			</p>-->
		</div>
		<div> 
			<p class="footer-description footer-description-mobile">
				Caution brings open source systems to life — built for resilience and digital security.
			</p>
		</div>
		<div class="footer-divider">
		</div>
		<!--<div class="footer-links">
			<div class="footer-column">
				<a href="/services.html">Services</a>
				<a href="/software.html">Software</a>
				<a href="/threatmodel.html">Threat model</a>
			</div>
			<div class="footer-column">
				<a href="/company.html">Company</a>
				<a href="/blog.html">Blog</a>
				<a href="/contact.html">Contact</a>
			</div>-->
		</div>
	</div>


	<div class="footer-bottom container">
		<div class="footer-footer"> {{site.footer}} </div>
		<div class="footer-social">
			<a href="/privacy.html">Privacy</a>
			<!-- <a href="/feed.xml" target="_blank" rel="noopener noreferrer" aria-label="RSS">
				<img src="/assets/base/rss-bw-tr.png" alt="RSS" />
			</a>-->
		</div>
		</div>
	</div>
	<script src="/assets/js/main.js"></script>
</footer>