{%- assign page_paths = site.header_pages | default: default_paths -%}

<header class="header-navbar">
	<div class="nav-container container">
		<a href="/index.html" class="nav-logo">
			<img src="/assets/base/caution-logo/logo-bw.svg" alt="Caution logo" />
		</a>

		<nav class="nav-menu">
			<!--<div class="nav-dropdown">
				<button class="nav-dropdown-toggle">
					Caution
					<img
						src="/assets/base/dropdown.svg"
						alt="Dropdown caret"
						class="nav-caret-icon"
					/>
				</button>
				<ul class="nav-dropdown-menu">
					<li>
						<a href="/company.html" rel="noopener noreferrer">About</a>
					</li>
					<li>
						<a href="/research-and-development.html" rel="noopener noreferrer"
							>R&D</a
						>
					</li>
					<li><a href="#" rel="noopener noreferrer">Contact</a></li>
				</ul>
			</div>-->

			<!--
			<a class="nav-link" href="/dr.html" rel="noopener noreferrer"
				>Disaster Recovery</a
			>
			<a class="nav-link" href="/pricing.html" rel="noopener noreferrer"
				>Pricing</a
			>
			<a class="nav-link" href="#">Docs</a>-->
		</nav>

		<div class="nav-cta">
			<a
				href="/blog.html"
				class="btn btn-primary"
				aria-label="Read our blog"
				title="Read our latest blog posts and updates"
				>Blog <span class="arrow">→</span></a
			>
		</div>
	</div>
</header>

<!-- <header>
  <div class="menu">
    <div class="left-menu">
      <a id="home-link" href="/index.html">
        <img class="menu-logo" src="/assets/base/caution-logo/caution-icon-black.svg"
          alt="Caution triangle logo with black text" />
      </a>
    </div>
    <div class="right-menu">
      <ul class="header-page-links show">
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
            {%- if my_page.title != 'Home' -%}
              <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
            {%- endif -%}
          {%- endif -%}
        {%- endfor -%}
        <li class="show">
          <a href="#" class="btn btn-primary">Get started →</a>
        </li>

      </ul>
			<input type="checkbox" id="menu-toggle" />

			<label for="menu-toggle" class="hamburger-menu">
				<span></span>
				<span></span>
				<span></span>
			</label>

			<div class="menu-content">
				<div class="inner-menu-content">
					{% include nav-links.html %}
				</div>
			</div>
    </div>
  </div>



	<script>
		document.addEventListener('DOMContentLoaded', function () {
			let pathSegment = window.location.pathname.split('/')[1];

			if (pathSegment.endsWith('.html')) {
				pathSegment = pathSegment.replace('.html', '');
			}

			const navLinks = document.querySelectorAll('.header-page-links li a');

			navLinks.forEach(link => {
				let linkPath = link.getAttribute('href').replace('/', '').replace('.html', '');

				if (linkPath === pathSegment) {
					link.classList.add('active');
				}
			});
		});

		let prevScrollPos = window.scrollY;
		const hamburgerMenu = document.querySelector('.menu-content');

		window.addEventListener('scroll', () => {
			const currentScrollPos = window.scrollY;

			if (currentScrollPos > prevScrollPos) {
				document.getElementById('menu-toggle').checked = false;
			}
			prevScrollPos = currentScrollPos;
		});

	</script>

</header>

-->
