<section style="margin-bottom: 0px;" class="flex-container" id="ready-to-use">
    <div class="flex-container-inner">
        <h2 class="hero-header gradient-text center">ready to use</h2>
        <p class="hero-p center" style="margin-top: 20px; max-width: 700px">Production-ready, verifiable open source tools.<p>
    </div>
</section>

<section style="margin-top: 40px;" class="live-tools-cards">
    <div class="flex-container">
        <div class="flex-container-inner">
            <div class="text-well card">
                <div class="live-tool-name">
                    StageX
                </div>
                <p>Security-first Linux distribution for reducing supply chain risks. Minimal, bootstrapped, hermetic, deterministic, reproducible, and multi-party signed.</p>
                <a href="https://codeberg.org/stagex/stagex" rel=”noopener noreferrer” target="_blank" class="arrow-link">
                    View git repository
                    <span class="arrow">&#x2192;</span>
                </a>
            </div>
        </div>
        <div class="flex-container-inner">
            <div class="text-well card">
                <div class="live-tool-name">
                    AirgapOS
                </div>
                <p>Immutable Linux distribution for offline secret management. Diskless, reproducible, and hardened for air-gapped environments.</p>
                <a href="https://git.distrust.co/public/airgap" rel=”noopener noreferrer” target="_blank" class="arrow-link">
                    View git repository
                    <span class="arrow">&#x2192;</span>
                </a>
            </div>
        </div>
    </div>
    <div class="flex-container">
        <div class="flex-container-inner">
            <div class="text-well card">
                <div class="live-tool-name">
                    Keyfork
                </div>
                <p>Toolchain for generating and managing a wide range of cryptographic keys offline and on smartcards from a shared BIP39 mnemonic phrase.</p>
                <a href="https://git.distrust.co/public/keyfork" rel=”noopener noreferrer” target="_blank" class="arrow-link">
                    View git repository
                    <span class="arrow">&#x2192;</span>
                </a>
            </div>
        </div>
        <div class="flex-container-inner">
            <div class="text-well card">
                <div class="live-tool-name">
                    Icepick
                </div>
                <p>Framework for rapidly developing applications to perform transfer and staking cryptocurrency operations..</p>
                <a href="https://git.distrust.co/public/icepick" rel=”noopener noreferrer” target="_blank" class="arrow-link">
                    View git repository
                    <span class="arrow">&#x2192;</span>
                </a>
            </div>
        </div>
    </div>
</section>