<section style="margin-bottom: 0px;" class="flex-container">
	<div class="flex-container-inner">
		<h2 class="hero-header gradient-text center">powered by distrust</h2>
		<p class="hero-p center" style="margin-top: 20px; max-width: 700px">Companies across high-risk industries adopt our methodologies and tooling to secure their critical systems.<p>
	</div>
</section>

<section style="margin-top: 40px;" class="flex-container powered-by">
	<div class="flex-container-inner">
		<div class="text-well card">
			<div class="img-container">
				<img src="assets/base/companies/turnkey-black.svg" style="filter: invert(100)">
			</div>
			<p class="text-description-desktop">Turnkey secures billions of dollars in digital assets and relies on Distrust tools to address fundamental risks in their technology stack.</p>
			<p class="text-description-mobile">Turnkey secures billions of dollars in digital assets and relies on Distrust tools to systematically address fundamental risks in their technology stack.</p>
			<a href="https://whitepaper.turnkey.com/foundations#abstract" rel=”noopener noreferrer” target="_blank" class="arrow-link">
				Learn more
				<span class="arrow">&#x2192;</span>
			</a>
		</div>
	</div>
	<div class="flex-container-inner">
		<div class="text-well card">
			<div class="img-container">
				<img src="assets/base/companies/mysten-labs-white.svg" style="width: 250px">
			</div>
			<p>The creators of the SUI blockchain, Mysten Labs, eliminate single points of failure in their systems with the help of Distrust tooling and advice.</p>
			<a href="https://github.com/MystenLabs/sui/blob/main/docker/sui-node-deterministic/Dockerfile" rel=”noopener noreferrer” target="_blank" class="arrow-link">
				Learn more
				<span class="arrow">&#x2192;</span>
			</a>
		</div>
	</div>
	<div class="flex-container-inner">
		<div class="text-well card">
			<div class="img-container">
				<img src="assets/base/companies/sidero-labs-white.png" style="filter: grayscale(); width: 150px">
			</div>
			<p>Sidero Labs' Talos Linux, a widely used Kubernetes distribution, uses Distrust's StageX and services, to bolster their supply chain security.</p>
			<a href="https://github.com/siderolabs/talos/releases/tag/v1.10.0-alpha.2" rel=”noopener noreferrer” target="_blank" class="arrow-link">
				Learn more
				<span class="arrow">&#x2192;</span>
			</a>
		</div>
	</div>
</section>

