<!-- Statement Section -->
<section class="statement-section">
	<div class="container">
		<div class="cube_wrapper dark-cube">
			<div class="cube">
				<div class="cube_face">?</div>
				<div class="cube_face">?</div>
				<div class="cube_face">?</div>
				<div class="cube_face">?</div>
				<div class="cube_face">?</div>
				<div class="cube_face">?</div>
			</div>
		</div>

		<h2 class="statement-heading--pt1" data-scroll-text="first">
			Most of today's technologies are black boxes.
		</h2>
		<p class="statement-heading--pt2" data-scroll-text="second">
			Without verifiability, compromise spreads silently through every
			layer of the stack.
		</p>
	</div>
</section>
