<div class="threatmodel-cta-columns">
    <div class="flex-container-inner">
        <h2 class="hero-header gradient-text">distrust<br>threat model</h2>
    </div>
    <div class="threatmodel-cta-right-column">
        <div class="button-container" style="font-size: 1.5rem">
		    <a href="/threatmodel.html" class="mega button">Explore threat model</a>
	    </div>
    </div>
</div>

<section class="threatmodel-cta" style="margin-top: 50px !important">
    <div class="flex-container properties">
        <div class="flex-container-inner">
            <p><b>Tiered threat levels</b></p>
            <p>From script kiddies to nation states, our model adapts to what you’re protecting, and who you're protecting against.</p>
        </div>
        <div class="flex-container-inner">
            <p><b>Cut attack surface</b></p>
            <p>Rather than focusing on specific vulnerabilities, our model helps eliminate entire classes of attacks by design.</p>
        </div>
        <div class="flex-container-inner">
            <p><b>Assume compromise</b></p>
            <p>Design with the assumption that systems are already breached to build resilient defenses.</p>
        </div>
    </div>
    <div class="threatmodel-cta-bottom">
        <div class="button-container" style="font-size: clamp(1rem, 10vw, 1.3rem)">
		    <a href="/threatmodel.html" class="mega button">Explore threat model</a>
	    </div>
    </div>
</section>