<section class="flex-container tall-section">
	<div class="flex-container-inner">
		<h2 class="gradient-text">our manifesto</h2>
		<p class="hero-p">Every day, we apply these guiding principles to how we think, build, and secure systems.</p>
	</div>
	<div class="flex-container-inner">
		<ol class="values-container">
			<li>decentralize trust</li>
			<li>open source everything</li>
			<li>security beyond compliance</li>
			<li>move thoughtfully &#38; improve things</li>
			<li>impact over profit</li>
		</ol>
	</div>
</section>

