<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: en }}">
	{%- include head.html -%}
	<body>
		{%- include header.html -%}
		<div class="container">
			<main>
				<section class="hero">
					<div class="hero-content">
						<h1 class="hero-title">Transparent, flexible pricing.</h1>
						<p class="subtext">
							Choose the control level and recovery guarantees that match your
							risk profile.
						</p>
						<div class="hero-landing-cta">
							<a href="#" class="btn">Get started →</a>
							<a href="/contact.html" class="btn btn-secondary"
								>Contact sales →</a
							>
						</div>
					</div>
				</section>
			</main>
		</div>
		{%- include footer.html -%}
	</body>
</html>
