<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: en }}">
	{%- include head.html -%}
	<body>
		{%- include header.html -%}

		<main>
			<section class="hero landing">
				<div class="hero-content landing container">
					<h1 class="hero-title landing">Secure what matters most.</h1>
					<p class="subtext">
						Recover any encrypted data without relying on blind trust. Open
						source, verifiable, and trustless by design.
					</p>
					<div class="hero-cta">
						<a href="#" class="btn">Get started →</a>
						<a href="/contact.html" class="btn btn-secondary"
							>Contact sales →</a
						>
					</div>
				</div>
			</section>
		</main>
		{%- include footer.html -%}
	</body>
</html>
