<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: en }}">
	{%- include head.html -%}
	<body>
		{%- include header.html -%}
		<section class="hero-landing">
			<div class="hero-lading-content container">
				<h1 class="hero-landing-title">Secure what matters most.</h1>
				<p class="hero-landing-subtext">
					Recover any encrypted data without relying on blind trust. Open
					source, verifiable, and trustless by design.
				</p>
				<div class="hero-landing-cta">
					<a href="#" class="btn btn-primary">Get started →</a>
					<a href="/contact.html" class="btn btn-secondary">Contact sales →</a>
				</div>
			</div>
		</section>
		{%- include footer.html -%}
	</body>
</html>
