<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: en }}">
	{%- include head.html -%}
	<body>
		<div class="page-wrapper">
			{%- include header.html -%}
			<div class="container">
				<main class="blog">
					<article class="post">
						<div class="blog-details">
							<div class="blog-details-date">
								{{ page.date | date: "%b %e, %Y" }}
							</div>
							<div class="blog-details-read-time">
								{{ page.content | number_of_words | divided_by: 200 }} min read
							</div>
						</div>
						<h1 style="margin: 1.1rem 0 1.5rem 0">{{page.title}}</h1>
						<div class="entry">{{ content }}</div>
						<hr />
						{% include blog-about-caution.html %}

						<p>
							{% for author in page.authors %} — {{ author.name }}{% unless
							forloop.last %}, {% endunless %} {% endfor %}
						</p>
					</article>
				</main>
			</div>
		</div>
		{%- include footer.html -%}
	</body>
</html>
