<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: en }}">
	
{%- include head.html -%} 

<div class="video-background-container">
	<video autoplay muted loop playsinline class="video-background">
		<source src="assets/videos/caution-waitlist.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
		<source src="assets/videos/caution-waitlist.webm" type='video/webm; codecs="vp8, vorbis"' />
	</video>
</div>


<body>

<section class="logo-section center">
	
	<div class="logo">
		<a href="/">
			<img src="/assets/base/caution-logo/caution-logo-text-black.svg" alt="Caution logo" style="height: clamp(1.5rem, 10vw, 2.2rem); opacity: 0.8">
		</a>
	</div>
	
	 <div class="heading center">
		<h1>You're in</h1>
		<p class="subtext-thanks center">
			Thanks for joining. We’ll email you when early access opens up. 
		</p>
	</div>
</section>

<div class="info-block-thanks">
	<span class="spaced-text">SOMETHING</span>
	<span class="spaced-text">EXCITING</span>
	<span class="spaced-text">IS</span>
	<span class="spaced-text">COMING</span>
	<span class="spaced-text">AND</span>
	<span class="spaced-text">YOU'LL</span>
	<span class="spaced-text">BE</span>
	<span class="spaced-text">THE</span>
	<span class="spaced-text">FIRST</span>
   	<span class="spaced-text">TO</span>
	<span class="spaced-text">KNOW</span>	
</div>

<div class="footer">
	<p>Built by the team behind <a rel=”noopener noreferrer” target="_blank" href="https://distrust.co/" class="distrust-link-footer">Distrust</a>, formerly at BitGo, Unit410, and Turnkey.</p>
</div>

<div class="footer-mobile">
	<p>The first open source platform for encrypted data recovery and escrow. By the team behind <a rel=”noopener noreferrer” target="_blank" href="https://distrust.co/" class="distrust-link-footer">Distrust</a>, formerly at BitGo, Unit410, and Turnkey.</p>
</div>

</body>

</html>

